.App{
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
.head{
  font-weight: lighter;
}
.head,.newitem{
  text-align: center;
  justify-content: center;

}
.head{
  margin-bottom: 2px;
}
.newitem{
  margin-top: 1px;
}
.form{
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}
.add{
  background-color: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.newitem{
  color: green;
}
#name,#date,#amount{
  padding: 6px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
  border-radius: 5px;
}
#date{
  margin-right: 12px;
}

.noitem{
  background:rgba(56, 55, 55, 0.096);
}
table,th{
  padding: 3px;
  padding-right: 200px;
  border: 1px solid rgba(204, 204, 204, 0.415);
  border-collapse: collapse;
}
td{
  padding: 3px;
  border: 1px solid rgba(204, 204, 204, 0.415);
  border-collapse: collapse;
}
.tablediv{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.columnadd{
  background:rgba(56, 55, 55, 0.096);
  padding: 2px;
  position: relative;
}
.fa-times{
  background: grey;
  padding: 4px;
}
.delete{
  border: none;
}
.fa-times:hover{
  color: white;
  background-color: red;
  cursor: pointer;
  
}
.noitem{
  display: none;
}